.wrapper

  = render 'shared/chat-side'
  
  .chat-main
    .header
      .header__lett-box
        .header__left-box__current-group
          グループ名
        %ul.header__left-box__member-list
          member:
          %li.header__left-box__member-list__member
            メンバー名
      .header__right-box
        .header__right-box__button
          Edit 
    .messages
      .message
        .message__upper-info
          .message__upper-info__talker
            メンバー
          .message__upper-info__date
            2019/11/01
        .message__text
          .message__text__content
            text
      .message
        .message__upper-info
          .message__upper-info__talker
            メンバー
          .message__upper-info__date
            2019/11/01
        .message__text
          .message__text__content
            text
    .form
      %form
        %input.form__message
        .form__mask
          %label.form__mask__image
            = fa_icon 'picture-o', class: 'icon'
            %input.hidden{type: 'file'}
        %input.form__submit{type: 'submit', value: 'Send'}
